@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #011;
  --primary-color-ligth: rgb(0, 37, 37);
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.container {
  font-size: 23px;
  max-width: 900px;
  max-height: 500px;
  margin: 250px auto;
  background-color: #fff;
  padding: 50px;
  border-radius: 20px;
}

/*moduficando o body*/
body {
  background-color: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

;